affine==2.2.1
asn1crypto==0.24.0
attrs==18.2.0
backcall==0.1.0
bleach==3.1.1
boto3==1.9.21
botocore==1.12.23
certifi==2018.10.15
cffi==1.11.5
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
cloudpickle==0.6.1
colorama==0.4.0
cryptography==2.3.1
cycler==0.10.0
dask==0.19.4
decorator==4.3.0
docutils==0.14
entrypoints==0.2.3
Fiona==1.7.10
GDAL==2.2.2
idna==2.7
imageio==2.4.1
ipykernel==5.0.0
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.1
jenkspy==0.1.4
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
jupyterlab==0.35.1
jupyterlab-server==0.2.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==3.0.0
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.1
munch==2.3.2
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
notebook==5.7.0
numpy==1.15.2
olefile==0.46
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pickleshare==0.7.5
Pillow==5.3.0
prometheus-client==0.4.2
prompt-toolkit==2.0.6
pycparser==2.19
Pygments==2.2.0
pyOpenSSL==18.0.0
pyparsing==2.2.2
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==1.0.1
pywinpty==0.5.4
pyzmq==17.1.2
rasterio==0.36.0
s3transfer==0.1.13
scikit-image==0.14.0
scipy==1.1.0
Send2Trash==1.5.0
Shapely==1.6.4.post1
simplegeneric==0.8.1
six==1.11.0
snuggs==1.4.2
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.23
utm==0.4.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
win-inet-pton==1.0.1
wincertstore==0.2
